.wrapper {
    display: flex;
    padding: 9px 16px;
    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.info {
}

.name {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 22px;
    .check {
        margin-left: 6px;
        color: rgb(32, 213, 236);
    }
}

.username {
    font-size: 1.4rem;
    line-height: 16px;
    color: rgba(22, 24, 35, 0.5);
}
